.btn {
  border: 1px solid $gray-300;
  cursor: pointer;
  font-weight: 600;
  font-size: $text-sm;
  outline: 0;
  padding: $size-3 $size-5;
  text-transform: uppercase;
  border-radius: 2px;

  &:disabled {
    cursor: default;
  }
}

.btn-icon svg{
  width: $size-5;
  vertical-align: text-bottom;
}

.btn-primary {
  background-color: $primary-700;
  border-color: $primary-700;
  color: $white;

  &:disabled {
    background-color: $primary-500;
    border-color: $primary-500;

    &:hover {
      background-color: $primary-500;
      border-color: $primary-500;
    }
  }

  &:hover {
    background-color: $primary-600;
    border-color: $primary-600;
  }

  &:active {
    background-color: $primary-800;
    border-color: $primary-800;
  }

  &:focus {
    border-color: $gray-700;
  }
}

.btn-red {
  background-color: $red-600;
  border-color: $red-600;
  color: $white;

  &:disabled {
    background-color: $red-400;
    border-color: $red-400;

    &:hover {
      background-color: $red-400;
      border-color: $red-400;
    }
  }

  &:hover {
    background-color: $red-500;
    border-color: $red-500;
  }

  &:active {
    background-color: $red-600;
    border-color: $red-600;
  }

  &:focus {
    border-color: $gray-700;
  }
}