body {
  font-family: $base-font-family;
  font-size: $base-font-size;
}

p, a, code, pre {
  font-size: $text-base;
}

h1 {
  font-size: $text-3xl;
}

h2 {
  font-size: $text-2xl;
}

h3 {
  font-size: $text-xl;
}

h4 {
  font-size: $text-lg;
}

h5, h6 {
  font-size: $text-base;
}