$grid-gutter: 1%;
$grid-columns: 12;
$grid-max: 980px;

* {
    box-sizing: border-box;
}

.container {
  max-width: $grid-max;
  margin: 0 8px;
}

// Grids
[class*="grid-"] {
  float: left;
  padding: 0 $grid-gutter;
  margin-bottom: 20px;
}

@for $i from 1 through $grid-columns{ 
  .grid-#{$i} {
    width: 100%;
  }
}

@media screen and (min-width: $medium-screen) {
  .container {
    max-width: $grid-max;
    margin: auto;
  }

  @for $i from 1 through $grid-columns{ 
    .grid-#{$i} {
      width: 100% / $grid-columns * $i;
    }

    .grid-offset-#{$i} {
      margin-left: (100% / $grid-columns * $i)
    }
  }
}