// Colors
$white: #FCFCFC;

$gray-base: #627D98;
$gray-100: lighten($gray-base, 40%);
$gray-200: lighten($gray-base, 30%);
$gray-300: lighten($gray-base, 20%);
$gray-400: lighten($gray-base, 10%);
$gray-500: $gray-base;
$gray-600: darken($gray-base, 10%);
$gray-700: darken($gray-base, 20%);
$gray-800: darken($gray-base, 30%);
$gray-900: darken($gray-base, 40%);

$primary-base: #5D55FA;
$primary-100: lighten($primary-base, 40%);
$primary-200: lighten($primary-base, 30%);
$primary-300: lighten($primary-base, 20%);
$primary-400: lighten($primary-base, 10%);
$primary-500: $primary-base;
$primary-600: darken($primary-base, 10%);
$primary-700: darken($primary-base, 20%);
$primary-800: darken($primary-base, 30%);
$primary-900: darken($primary-base, 40%);

$secondary-base: #27AB83;
$secondary-100: lighten($secondary-base, 40%);
$secondary-200: lighten($secondary-base, 30%);
$secondary-300: lighten($secondary-base, 20%);
$secondary-400: lighten($secondary-base, 10%);
$secondary-500: $secondary-base;
$secondary-600: darken($secondary-base, 10%);
$secondary-700: darken($secondary-base, 20%);
$secondary-800: darken($secondary-base, 30%);
$secondary-900: darken($secondary-base, 40%);

$blue-base: #2BB0ED;
$blue-100: lighten($blue-base, 40%);
$blue-200: lighten($blue-base, 30%);
$blue-300: lighten($blue-base, 20%);
$blue-400: lighten($blue-base, 10%);
$blue-500: $blue-base;
$blue-600: darken($blue-base, 10%);
$blue-700: darken($blue-base, 20%);
$blue-800: darken($blue-base, 30%);
$blue-900: darken($blue-base, 40%);

$red-base: #E12D39;
$red-100: lighten($red-base, 40%);
$red-200: lighten($red-base, 30%);
$red-300: lighten($red-base, 20%);
$red-400: lighten($red-base, 10%);
$red-500: $red-base;
$red-600: darken($red-base, 10%);
$red-700: darken($red-base, 20%);
$red-800: darken($red-base, 30%);
$red-900: darken($red-base, 40%);

$yellow-base: #F0B429;
$yellow-100: lighten($yellow-base, 40%);
$yellow-200: lighten($yellow-base, 30%);
$yellow-300: lighten($yellow-base, 20%);
$yellow-400: lighten($yellow-base, 10%);
$yellow-500: $yellow-base;
$yellow-600: darken($yellow-base, 10%);
$yellow-700: darken($yellow-base, 20%);
$yellow-800: darken($yellow-base, 30%);
$yellow-900: darken($yellow-base, 40%);

// Typography
$base-font-family: 'Source Sans Pro', Roboto, Arial, sans-serif;
$base-font-size: 16px;
$base-color: $gray-900;

$text-xs: .75rem;
$text-sm: .875rem;
$text-base: 1rem;
$text-lg: 1.125rem;
$text-xl: 1.25rem;
$text-2xl: 1.5rem;
$text-3xl: 1.875rem;
$text-4xl: 2.25rem;
$text-5xl: 3rem;
$text-6xl: 4rem;

// Spacing
$space-px: 1px;
$space-0: 0;
$space-1: 0.25rem;
$space-2: 0.5rem;
$space-3: 0.75rem;
$space-4: 1rem;
$space-5: 1.25rem;
$space-6: 1.5rem;
$space-8: 2rem;
$space-10: 2.5rem;
$space-12: 3rem;
$space-16: 4rem;
$space-20: 5rem;
$space-24: 6rem;
$space-32: 8rem;
$space-40: 10rem;
$space-48: 12rem;
$space-56: 14rem;
$space-64: 16rem;

// Sizing
$size-px: 1px;
$size-full: 100%;
$size-screen: 100vw;
$size-0: 0;
$size-1: 0.25rem;
$size-2: 0.5rem;
$size-3: 0.75rem;
$size-4: 1rem;
$size-5: 1.25rem;
$size-6: 1.5rem;
$size-8: 2rem;
$size-10: 2.5rem;
$size-12: 3rem;
$size-16: 4rem;
$size-20: 5rem;
$size-24: 6rem;
$size-32: 8rem;
$size-40: 10rem;
$size-48: 12rem;
$size-56: 14rem;
$size-64: 16rem;

// Screen Sizes
$medium-screen: 461px;